.filter {
    width: 20%;
}

.categories {
    height: 15rem;
}

.price {
    height: 10rem;
    margin-bottom: 4rem;
}

.topSelling {
    height: 20rem;
    width: 20rem;
}

@media screen and (max-width: 1120px) {
    .filter {
        display: none;
    }

}