.filter {
    width: 20%;
}

.categories {
    height: 15rem;
}

.price {
    height: 10rem;
    margin-bottom: 2rem;
}

.Brand {
    border: 1px solid;
    height: 20rem;

}

.topSelling {
    border: 1px solid;
    height: 20rem;

}