@import url(../../../utils/colors.css);

.price-container {
    width: 100%;
    height: 100%;
}

.price-title {
    text-transform: uppercase;

}

.price-range {
    padding: .2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-slider {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--gray-100);
    height: .4rem;
}

[type="range"]::-moz-range-progress {
    background-color: var(--error);
    height: 100%;
}

[type="range"]::-webkit-range-progress {
    background-color: var(--error);
    height: 100%;

}

.min-range {
    border-left: none;
    transform: rotate(180deg);
    width: 50%;

}

.max-range {
    border-left: none;
    width: 50%;

}



.price-range-show-value {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.from-price {
    width: inherit;
    height: inherit;
    padding: 1rem;
    border: 1px solid var(--gray-100);
}

.to-price {
    width: inherit;
    height: inherit;
    padding: 1rem;
    border: 1px solid var(--gray-100);

}

input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: var(--error);
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    border: none;
    background: var(--error);
    cursor: pointer;
    -webkit-appearance: none;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.show-value-container {
    position: relative;
    height: 3.rem;
    width: 7rem;
}

.show-value-buttons {
    position: absolute;
    right: 6px;
    top: 2px;
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 2rem;

}

.action-value-buttons {
    height: inherit;
    border: 1px solid var(--gray-100);
    width: inherit;
    height: inherit;
    margin: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.action-value-buttons:active {
    background-color: var(--gray);
}