@import url(../../../utils/colors.css);

.product-card-container {
    width: 16rem;
    border: 1px solid rgba(102, 102, 102, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.product-card-container:hover {
    border: 1px solid rgb(217, 100, 122);
    transition: .5s;

}

img {
    width: 10rem;
    height: 12rem;
}

.product-category {
    color: rgb(157, 167, 185);
    height: 2rem;
    line-height: 2rem;
}

.product-name {
    height: 1rem;
    margin: 1rem;
    font-weight: 600;
}

.product-description {
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem;
    color: var(--gray-500);
}

.product-price {
    color: var(--error);
    font-weight: 700;
    margin: 1rem;
}

.discount-price {
    color: var(--gray);
    text-decoration: line-through 1px;
    font-weight: 300;
    font-size: .9rem;
}



.add-to-cart-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background);
    position: absolute;
    bottom: -4rem;
    right: 10px;
    z-index: 1;
    width: 95%;
    height: 5rem;
    padding: 1rem;
}

.product-rank {
    margin-bottom: 2rem;
    width: 12rem;
    border-top: 1px solid rgba(151, 151, 151, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-rank-container {
    position: absolute;
}

.like-compare-eye-container {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}