:root {
    --primary: #4285f4;
    --secondary: #34a85a;
    --background: #ffffff;
    --error: #ef233c;
    --warning: #ffcc00;
    --header-background: #000000;
    --gray-500: #5e5e5e;
    --gray-300: #5c5757;
    --gray-100: #ddd8d8;
    --gray: #808080;
    --footer-background: #15161D;
}