body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-right: 20rem;
    margin-left: 20rem;
}

.flex {
    display: flex !important;
}

.reverse {
    flex-direction: row-reverse !important;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.border {
    border: 1px solid;
}